<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer" *ngIf="todos.length">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count">
        <span [ngStyle]="{'color': (todos.length > 5) ? 'red' : '', 'font-weight': (todos.length > 5) ? 'bold' : ''}">{{todos.length}}</span> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
        <li>
            <a (click)="selectTypeChanged('all')" [ngClass]="{'selected': selectedType === 'all'}" href="#/">All</a>
        </li>
        <li>
            <a (click)="selectTypeChanged('active')" [ngClass]="{'selected': selectedType === 'active'}" href="#/active">Active</a>
        </li>
        <li>
            <a (click)="selectTypeChanged('completed')" [ngClass]="{'selected': selectedType === 'completed'}" href="#/completed">Completed</a>
        </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
</footer>
